services:
  drupal_cms:
    image: ttrelvik/drupal-cms:2.0.0-rc1-2
    volumes:
      - drupal_sites_default_beta:/app/web/sites/default
      - ./config/beta:/app/config/beta
    secrets:
      - source: drupal_cms-beta_postgres_password
        target: drupal_cms-postgres_password
      - gemini_api_key
      - openai_api_key
    env_file:
      - beta.env
    depends_on:
      - db
    networks:
      - drupal_net_beta
      - traefik-net
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=traefik-net"
        - "traefik.http.routers.drupal_cms_beta.rule=Host(`beta-blog.trelvik.net`)"
        - "traefik.http.routers.drupal_cms_beta.entrypoints=https"
        - "traefik.http.routers.drupal_cms_beta.tls=true"
        - "traefik.http.routers.drupal_cms_beta.tls.certresolver=myresolver"
        - "traefik.http.services.drupal_cms_beta.loadbalancer.server.port=80"

  db:
    image: pgvector/pgvector:0.8.1-pg16-trixie
    volumes:
      - postgres_data_beta:/var/lib/postgresql/data
      - ./.docker/pg-init:/docker-entrypoint-initdb.d
    secrets:
      - source: drupal_cms-beta_postgres_password
        target: drupal_cms-postgres_password
    env_file:
      - beta.env
    networks:
      - drupal_net_beta
    deploy:
      replicas: 1

volumes:
  drupal_sites_default_beta:
    name: drupal-cms-docker_drupal_sites_default_beta
  postgres_data_beta:
    name: drupal-cms-docker_postgres_data_beta

secrets:
  drupal_cms-beta_postgres_password:
    external: true
  gemini_api_key:
    external: true
  openai_api_key:
    external: true

networks:
  drupal_net_beta:
    driver: overlay
  traefik-net:
    external: true